.Header {
    background-color: rgb(109, 0, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;
    
}


.HeaderLink {

    flex-wrap: wrap;
    max-width: 100%;

    font-weight: bolder;
    font-weight: normal;
    margin-right: 50px;
    color: #ffffff;
}

.Header button {
    flex-wrap: wrap;
    max-width: 100%;
    border: none;

    background-color: rgb(233, 0, 0);
    color: white;
    padding: 20px;
    text-decoration: none;
}