.AdminChangeCalc {
    min-height: calc(100vh - 70px - 70px);
    min-height: calc(100vh - 70px - 70px);
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    flex-wrap: wrap;

}

.AdminChangeCalc input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 30px;
    background-color: rgb(235, 235, 235);
    outline: none;
}

.AdminChangeCalc button {
    flex-wrap: wrap;
    max-width: 100%;
    border: none;

    background-color: rgb(109, 0, 233);
    color: white;
    padding: 30px;
    text-decoration: none;
}

.AdminChangeCalc p,
.AdminChangeCalc .to-admin {
    text-align: center;

}

@media (max-width: 768px) {
    .AdminChangeCalc {
        width: 300px;
    }

}

a {

    color: black;
    text-decoration: none;
}