.InterfaceCalc {

    display: flex;
    flex-direction: column;

    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 100%;
    flex-wrap: wrap;
}

.InterfaceCalc input {
    border: none;
    padding: 10px;
    outline: none;
    background-color: rgb(230, 230, 230);
    margin-bottom: 10px;

}

::placeholder {
    color: rgb(0, 0, 0);
}

.InterfaceCalc button {
    flex-wrap: wrap;
    max-width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
    background-color: rgb(109, 0, 233);
    color: white;
    padding: 30px;
    text-decoration: none;
    
}
.InterfaceCalc button:hover {
    cursor: pointer;
    background-color: rgb(74, 0, 158);
}


.InterfaceCalc p {
    text-align: center;
    font-size: 20px;
}

.result {
    padding: 10px;
    background-color: rgb(230, 230, 230);
}

.info {

}